
  *{  padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  /* navbar */
  .navbar {
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;border-bottom: 1px solid black;
  }
  
  
  /* brand image  */
  .brand{
    margin-left: 20px;
  }
   /* logo  */
  .logo {
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  /* ul  */
  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 40%;
    margin: auto;
  }

   /* navbar upper part*/
  .logobox{
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    justify-content:space-between;
    padding: 20px;
  }

   /* upper right group in nav */
  .toplogobox{
    margin-right: 20px;
    display: flex;
  }
  .eng{
    display: flex;
  }
  .engp{
    margin-top: 3px;
  }
  .hamburger {
    display: none;
  }
  
  /* media queries */
  @media screen and (max-width: 780px){

    /* hamburger */
    .hamburger {
      display: block;
      cursor: pointer;
      width: 25px;
    }
  
    .bar {
          background-color: #120f0b;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
    /* navMenu */
  
    .navMenu{
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 70px;
      left: -110%;
      text-align: start;
      width: 100%;
      transition: 0.7s ease-in-out;
      background-color: aliceblue;
      padding: 10px;
    }
  
    .navMenu.active{
      left: 0;
    }
    .toplogobox{
      margin-right: 0px;
      height: 15px;
    }
    .eng{
      display: flex;
    }
    .engp{
      margin-top: 1px;
    }
    .brand{
      margin-left: 0px;
      z-index: 100;
    }
    .logo{
      font-size: 25px;
    }
    .brand img{
      
      height: 20px;
    }
    .navMenu li {
      margin: 16px 0;
    }
  }